@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



body {
  font-family: 'Poppins', sans-serif;
}

/* @media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 720px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }  */

* {
  font-family: Arial, Helvetica, sans-serif;
}


.time {
  width: 1500px;
  margin: auto;
}

.time-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #3fbbc0;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
  padding: 0px 100px;
}

.timing {
  margin-top: 10px;
}

.contact {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
}

.nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  background-color: #fff;
  box-shadow: #ccc 0 0 17px;
  z-index: 1000;
}

.navigations ul {
  display: flex;
  margin-left: 260px;
  margin-top: 25px;
}

.navigations ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #626262;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.navigations ul li .btn-primary {
  margin-left: 25px;
  background: #3fbbc0;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.navigations ul li a:hover {
  opacity: 0.8;
}

.navigations ul li a .btn-primary:hover {
  color: black;
}

.logo img {
  width: 180px;
  padding: 15px;
  margin-left: 110px;

}

.banner {
  background-image: url("../image/istockphoto-1168823446-170667a.jpg");
  height: 91vh;
  background-size: cover;
  background-position: center;
}

.banner-flexbox {
  display: flex;
}

.banner-content {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 280px;
  margin-left: 150px;
  border-top: 4px solid #3fbbc0;
  width: 1200px;
  height: 170px;
}

.banner-content h2 {
  color: #2f2f2f;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.banner-content p {
  color: #555555;
  margin-left: 66px;
  margin-right: 66px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 25px;
}

.banner-content .btn-primary {
  margin-top: 25px;
  background: #3fbbc0;
  color: #fff;
  border-radius: 4px;
  padding: 14px 32px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.tech {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}


.techbox {
  width: 240px;
  height: 220px;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  box-shadow: #ccc 0 0 17px;
  text-align: left;
}

.techbox:hover {
  background-color: #3fbbc0;
  color: #fff;
}

.techbox i {
  color: #3fbbc0;
  font-size: 60px;
  padding: 15px 15px;
  opacity: 1;
}

.techbox h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 15px 15px;
}

.techbox p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin-left: 10px;
}

.emergency {
  background: #3fbbc0;
  color: #fff;
  background-size: cover;
  padding: 60px 0;
  margin-top: 70px;
  height: 150px;
}

.emergency h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.emergency p {
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  text-align: center;
}

.emergency .btn-primary {
  margin-left: 650px;
  margin-top: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  display: inline-block;
  padding: 15px 45px;
}

.emergency .btn-primary:hover {
  background-color: #fff;
  color: #3fbbc0;
}

.about-header h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #2f2f2f;
}

.about-header p {
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

.line {
  width: 80px;
  margin-left: 715px;
  border-top: 4px solid #3fbbc0;
  margin-bottom: 5px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50PX;
}

.about-left img {
  width: 680px;
  margin-left: 100px;
}

.about-right {
  margin-left: 35px;
  text-align: start;
}

.about-right h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;

  padding-bottom: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: start;
  color: #2f2f2f;
  line-height: 30px;
}

.about-right ul li i {
  color: #3fbbc0;
  font-size: 25px;
}

.about-right ul li span {
  margin-right: 10px;
}

.about-right p {
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
  color: #555555;
  font-style: italic;
  text-align: start;
  margin-top: -15px;
  font-family: "Open Sans", sans-serif;
}

.about-right ul li {
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

.about-right h3 {
  font-size: 17px;
  line-height: 25px;
  color: #444444;
  text-align: start;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}

.about-box {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.about {
  width: 290px;
  height: 150px;
  padding: 15px 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #ccc 0 0 17px;
}

.about p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #555555;
  padding: 0px 25px 25px 25px;
  line-height: 22px;
}

.about i {
  font-size: 40px;
  margin-left: 25px;
  color: #3fbbc0;
}

.about a {
  text-decoration: none;
  color: #7b7b7b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-left: 25px;
  margin-top: 20px;
}

.about-banner {
  display: flex;
  margin: 100px;
  justify-content: space-between;
}

.about-image img {
  width: 600px;
}

.about-banner i {
  font-size: 40px;
  color: #3fbbc0;
}

.side-content {
  display: flex;
}

.text {
  padding-left: 30px;
  margin-bottom: 30px;
  line-height: 35px;
}

.text h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #444444;
}

.text p {
  color: #848484;
  font-family: "Poppins", sans-serif;
}

.s-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 100px;
}

.s-box {
  width: 400px;
  height: 270px;
}

.s-cont i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  color: #3fbbc0;
  box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
  font-size: 40px;
  margin-left: 160px;
}

.s-cont h2 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #444444;
  text-align: center;
  padding-bottom: 20px;
}

.s-line {
  width: 60px;
  margin-left: 170px;
  border-top: 3px solid #3fbbc0;
  margin-bottom: 20px;
}

.s-box p {
  line-height: 24px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #444444;
}

.form {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.form2 .box::placeholder {
  padding-left: 10px;
}

.form2 .box,
.dropdown1,
.dropdown2 {
  height: 40px;
  width: 400px;
  margin: 12px;
}

.about-header>.make {
  background-color: #f7fcfc;
  padding: 5px 0px;
}

.form2 textarea {
  width: 1280px;
  font-family: "Poppins", sans-serif;

}

.form2 button {
  background-color: #3fbbc0;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 12px 30px;
  margin: 25px 550px;
}

.fixed-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #3fbbc0;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  border-radius: 3px;
  transition-duration: 3s;
}

.dep-area {
  background-color: #3fbbc0;
  width: 500px;
  height: 500px;
  margin-left: 120px;
}

.dep-left-content {
  background-color: coral;
  font-family: "Poppins", sans-serif;
  text-align: left;
  justify-content: left;
  margin-left: 30px;
  padding: 10px;
  color: #fff;
}

.dep-left-content h1 {
  padding-bottom: 15px;
  font-size: 18px;
}

.map {
  margin-top: 30px;
}


.footer {
  background-color: #f6f6f6;
  height: 150px;
  padding: 80px 110px;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.top {
  display: flex;
  justify-content: space-between;

}

.medicio h1 {
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}

.medicio address {
  font-size: 14px;
  line-height: 18px;
  color: #555555;
}

.useful-links {
  width: 200px;
}

.useful-links h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #555555;
}

.useful-links ul li {
  list-style: inside;
  line-height: 30px;
  color: #3fbbc0;
}

.useful-links ul li a {
  text-decoration: none;
  color: #555555;
}

.our-services address {
  font-size: 14px;
  line-height: 24px;
}

.our-services h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #555555;
}


.useful-links {
  width: 200px;
  color: #555555;
}

.our-services .useful-links {
  display: block;
}

.our-services ul li {
  list-style: inside;
  line-height: 30px;
  color: #3fbbc0;
}

.our-services ul li a {
  text-decoration: none;
  color: #555555;
}

.our-services {
  width: 200px;
  color: #555555;
}

.newsletter {
  width: 300px;
  color: #555555;
}

.newsletter h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #555555;
}

.newsletter p {
  font-size: 14px;
  margin: 0;
  text-align: left;
  color: #555555;
}

.bottom {
  height: 100px;
  background-color: #eeeeee;
  justify-items: center;
  align-items: center;
  top: 50%;
  bottom: 50%;
}

.copyright {
  text-align: center;
  padding: 30px 0px;
}

.copyright small {
  display: block;
}

.newsletter .box {
  color: #fff;
  height: 40px;
  border: none;
  width: 180px;
  margin-top: 30px;
}

.newsletter .button {
  background-color: #3fbbc0;
  color: #fff;
  height: 40px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.copyright {
  color: #555555;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}

.copyright span {
  font-weight: 600;
}

.copyright a {
  text-decoration: none;
  color: #3fbbc0;
}

.contact {
  display: flex;
  margin-top: 50px;
}

.con-left {
  width: 800px;
}


.our-address {
  height: 150px;
  width: 650px;
  background-color: #fff;
  color: #000;
  box-shadow: #ccc 0 0 12px;
  margin-left: 100px;
}

.email {
  height: 150px;
  width: 300px;
  background-color: #fff;
  color: #000;
  box-shadow: #ccc 0 0 12px;
  margin-left: 100px;
}

.call {
  height: 150px;
  width: 300px;
  background-color: #fff;
  color: #000;
  box-shadow: #ccc 0 0 12px;
  margin-left: 50px;
}

.mail {
  margin-top: 35px;
  display: flex;
}

.con-right {
  height: 330px;
  width: 550px;
  background-color: #fff;
  color: #000;
  box-shadow: #ccc 0 0 12px;

}